@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-main-blue: #1A134C;
  --color-secondary-blue: #0E85F2;
  --background-image-hero: url('/src/assets/images/hero-section-image.jpg');
}